@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="ms-sm-auto px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                        </span>
                        <select class="form-select" id="yearSelect" aria-label="Select year">
                            <!option @if (ViewBag.SelectedYear == DateTime.Now.Year)
                            {
                                <text>selected</text>
                            }
                            >
                            This year (@ViewBag.SelectedYear)
                            </!option>
                            @foreach (var year in @ViewBag.YearSelection)
                            {
                                @if (year != ViewBag.SelectedYear)
                                {
                                    <!option value="@year">@year</!option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <canvas id="userLine"></canvas>
        </div>
        <div class="col-md-4"><canvas id="userDonut"></canvas></div>
    </div>
    <hr />
    <div class="row justify-content-between mt-4">
        <div class="col-md-5">
            <h2>New users</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Token</th>
                            <th scope="col">Current Plan</th>
                            <th scope="col">Joined Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < ViewBag.TopNew10User.Count; i++)
                        {
                            var user = ViewBag.TopNew10User[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@user.UserToken</td>
                                <td>@user.Name</td>
                                <td>@user.CreateDatetime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <h2>New Plus subscriptions</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">User Token</th>
                            <th scope="col">Current Plan</th>
                            <th scope="col">Joined Date</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < ViewBag.TopNew10PreUser.Count; i++)
                        {
                            var user = ViewBag.TopNew10PreUser[i];
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@user.UserToken</td>
                                <td>@user.Name</td>
                                <td>@user.CreateDatetime</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>
<script>
    drawUserDonutChart(@ViewBag.TotalUsers);
    drawUserLineChart(@ViewBag.SelectedYear, @ViewBag.UserIn12Months, @ViewBag.UserPreIn12Months);
</script>

<script>
    function selectYear() {
        let url = new URL(location.href);
        url.searchParams.set("year", $("#yearSelect").val());
        location.href = url.toString();
    }
    $("#yearSelect").on('change', selectYear);
</script>