@page
@model ResourceAssignAdmin.Pages.Subscription.IndexModel

@{
    ViewData["Title"] = "Subscriptions";
}

<h1>Subscriptions</h1>

<div class="row">
    <p class="col-2">
        <a asp-page="Create">Create New</a>
    </p>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Token</span>
            <input id="tokenSearchInput" type="text" class="form-control" value="@ViewBag.Token">
        </div>
    </div>
    <div class="col-md-2">
        <div class=" input-group mb-3">
            <span class="input-group-text" >Plan</span>
            <select class="form-select" id="planSearchSelect">
                <option value="">All...</option>
                @foreach (var plan in ViewBag.PlanId)
                {
                    @if (plan.Id == ViewBag.Plan)
                    {
                        <option value="@plan.Id" selected>@plan.Name</option>
                    }
                    else
                    {
                        <option value="@plan.Id">@plan.Name</option>
                    }
                }
            </select>       
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <span class="input-group-text" >Status</span>
            <select class="form-select" id="statusSearchSelect">
                <!option value="" @if (ViewBag.status != "all" || ViewBag.status != "deactive") {<text>selected</text>} >Avtive</!option>
                <!option value="all" @if (ViewBag.status == "all") {<text>selected</text>}>All</!option>
                <!option value="deactive" @if (ViewBag.status == "deactive") {<text>selected</text>}>Deactive</!option>
            </select>
        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-light" id="searchBtn">Search</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                User Token
            </th>
            <th>
                Plan
            </th>
            <th>
                Preriod Start
            </th>
            <th>
                Period End
            </th>
            <th>
                Cancel At
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subscription)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.AtlassianToken.UserToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plan.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPeriodStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPeriodEnd)
                </td> 
                <td>
                    @if (item.CancelAt == null) {
                        <p class="text-success">Active</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.CancelAt)
                    }                 
                </td>            
                <td>
                    @if (item.CancelAt == null) {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @*| <a asp-page="./Details" asp-route-id="@item.Id">Details</a>*@             
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="paging">
    <ul class="pagination" id="pagination">
    </ul>
</div>

<script>
    $("#searchBtn").click(() => {
        let url = new URL(location.href);
        url.searchParams.set("token", $("#tokenSearchInput").val());
        url.searchParams.set("plan", $("#planSearchSelect").val());
        url.searchParams.set("status", $("#statusSearchSelect").val());
        location.href = url.toString();
    });
</script>

<script>
    paging(@ViewBag.totalPage, @ViewBag.currentPage);

    ﻿
</script>
